@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --radius: 10px;
}

html,body,#__next{height:100%;}
body{
  @apply bg-ivory text-charcoal antialiased;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.container{max-width:1200px;margin-left:auto;margin-right:auto;padding-left:1rem;padding-right:1rem}
